<mat-toolbar color="accent">
    <span>
      <a routerLink="/">
        <span>Platefrome éducative</span>
      </a>
    </span>
    <span>
      <a
        routerLinkActive="active-link"
        routerLink="/exams"
      >
        <span>Exams</span>
      </a>
      <a
        routerLinkActive="active-link"
        routerLink="/login"
      >
        <span>Login</span>
      </a>
      <a
        routerLinkActive="active-link"
        routerLink="/signup"
      >
        <span>Signup</span>
      </a>
    </span>
  </mat-toolbar>
  